@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: bold;
    src: url('/assets/fonts/woff/IRANYekanXFaNum-Bold.woff') format('woff'),
    url('/assets/fonts/woff2/IRANYekanXFaNum-Bold.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/woff/IRANYekanXFaNum-Regular.woff') format('woff'),
    url('/assets/fonts/woff2/IRANYekanXFaNum-Regular.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IRANYekanX", sans-serif !important;
    -ms-overflow-style: none;
}

.Toastify__toast {
    border-radius: 1rem !important;
    color: #3d3d3d !important;
    font-family: "IRANYekanX", sans-serif !important;
    margin: 0.5rem !important;
}

.Toastify__toast--error {
    background-color: red !important;
    color: #fff !important;
}

.Toastify__toast--success {
    background-color: lightgreen !important;
}

.Toastify__toast--info {
    background-color: lightblue !important;
}

.Toastify__toast--warning {
    background-color: #ffe088 !important;
}
